<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>embraceEducation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3D02F3C31CD0B7E900B232E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D02F3DC1CD0B7E900B232E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D02F3E71CD0B7E900B232E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
